* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:focus {
  outline: none;
}

html, body {
  margin: 0;
  width: 100%;
  height: 100%;
}

div, p, a, li, h1, h2, h3, h4, h5, h6 {
  font-family: "Noto Sans KR", sans-serif;
  color: #222222;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
}

h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
  margin-top: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.grey_style {
  color: #999;
}

.bgImg, body.home .body_container, body.home .sect_banners .banner ._link {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.content_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.inner_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inner_container.site_width {
  width: 100%;
  max-width: 1820px;
}

.inner_container.con_width {
  width: 100%;
  max-width: 1680px;
}

@media (max-width: 1880px) {
  .inner_container.site_width {
    max-width: 95%;
  }
  .inner_container.con_width {
    max-width: 95%;
  }
}

.flex_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex_col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-radius: 100px;
}

.btn_burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 16px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.btn_burger span {
  width: 100%;
  height: 2px;
  background-color: #222;
  margin: 0 0 4px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn_burger .bar3 {
  margin-bottom: 0;
}

.btn_burger:hover span {
  background-color: #efaaaa;
}

body.home {
  background-color: #2f2f2f;
}

body.home .body_container {
  background-image: url("../img/img_homebg.png");
  background-attachment: fixed;
}

body.home .content_container.home_content {
  padding: 70px 0;
}

@media (max-width: 1280px) {
  body.home .content_container.home_content {
    padding: 30px 0;
  }
}

body.home .home_content .col_1_3 {
  width: 770px;
  margin-right: 30px;
}

body.home .home_content .col_2_3 {
  width: 480px;
  margin-right: 30px;
}

body.home .home_content .col_3_3 {
  width: 370px;
}

@media (max-width: 1880px) {
  body.home .home_content .col_1_3 {
    width: 45%;
  }
  body.home .home_content .col_2_3 {
    width: 30%;
  }
  body.home .home_content .col_3_3 {
    width: 25%;
  }
}

@media (max-width: 1280px) {
  body.home .home_content .inner_container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  body.home .home_content .inner_container .col_1_3 {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }
  body.home .home_content .inner_container .col_2_3 {
    width: 49%;
    margin-right: 2%;
  }
  body.home .home_content .inner_container .col_3_3 {
    width: 49%;
  }
}

@media (max-width: 768px) {
  body.home .home_content .inner_container .col_2_3 {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }
  body.home .home_content .inner_container .col_3_3 {
    width: 100%;
  }
}

body.home .home_content .sect_announce, body.home .home_content .sect_notice {
  background-color: #fff;
}

body.home .home_content .col_3 .inner_col {
  padding: 70px;
}

body.home .home_content .title_wrap {
  margin-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body.home .home_content .title_section {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.2em;
  margin-bottom: 0;
}

body.home .home_content .title_section span {
  -webkit-box-shadow: inset 0 -12px 0 #efaaa9;
          box-shadow: inset 0 -12px 0 #efaaa9;
  border-bottom: 2px solid #efaaa9;
}

body.home .sect_announce .cat {
  margin-bottom: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body.home .sect_announce .cat ._nav_btn {
  font-size: 18px;
  color: #666;
  line-height: 1.2em;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding-left: 10px;
}

body.home .sect_announce .cat ._nav_btn:hover {
  color: #e6240f;
}

body.home .sect_announce .cat ._nav_btn:after {
  content: '';
  border-right: 2px solid #c4c4c4;
  padding: 0 5px;
}

body.home .sect_announce .cat ._nav_btn:first-child {
  padding-left: 0;
}

body.home .sect_announce .cat ._nav_btn:last-child:after {
  content: none;
}

body.home .sect_announce .cat .slick-current {
  font-size: 18px;
  font-weight: bold;
  color: #222222;
  cursor: auto;
}

body.home .sect_announce .cat .slick-current:hover {
  color: #222222;
  -webkit-box-shadow: none;
          box-shadow: none;
}

body.home .sect_announce .inner_col, body.home .sect_announce .announce_wrap, body.home .sect_announce ._contents, body.home .sect_announce .slick-list, body.home .sect_announce .slick-track, body.home .sect_announce ._slide {
  height: 100%;
}

body.home .sect_announce ._contents {
  position: relative;
}

body.home .sect_announce ._title {
  margin-bottom: 15px;
}

body.home .sect_announce ._title h1 {
  font-size: 40px;
  font-weight: bold;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

body.home .sect_announce ._title:hover h1 {
  color: #e6240f;
}

body.home .sect_announce ._parag {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 30px;
}

body.home .sect_announce ._date {
  font-size: 16px;
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body.home .sect_announce .btn_more {
  border: solid 1px rgba(112, 112, 112, 0.5);
  font-size: 14px;
  font-weight: 500;
  padding: 12px 36px;
  display: inline-block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: absolute;
  bottom: 0;
  left: 0;
}

body.home .sect_announce .btn_more:hover {
  background-color: #e6240f;
  color: #ffffff;
  border-color: #e6240f;
}

@media (max-width: 1280px) {
  body.home .sect_announce .btn_more {
    margin-top: 80px;
    position: relative;
  }
}

body.home .sect_notice .notice_list li.item {
  padding: 24px 0 28px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

body.home .sect_notice .notice_list li.item:first-child {
  padding-top: 0;
}

body.home .sect_notice .notice_list li.item:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

body.home .sect_notice ._title {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body.home .sect_notice ._title h5 {
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 0;
  line-height: 1.5em;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

body.home .sect_notice ._title:hover h5 {
  color: #e6240f;
}

body.home .sect_notice ._date {
  font-size: 16px;
  font-weight: normal;
  color: #888;
}

body.home .sect_banners .banner {
  height: 50%;
  width: 100%;
}

body.home .sect_banners .banner ._link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body.home .sect_banners .banner ._link span {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.2em;
}

body.home .sect_banners .banner .icon {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 110px;
  height: 110px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  body.home .sect_banners .banner {
    margin-bottom: 30px;
  }
  body.home .sect_banners .banner:last-child {
    margin-bottom: 0;
  }
  body.home .sect_banners .banner ._link {
    padding: 40px;
  }
}

body.home .sect_banners ._status ._link {
  background-image: url("../img/img_status.png");
}

body.home .sect_banners ._board ._link {
  background-image: url("../img/img_board.png");
}

body.home .ic_status svg {
  width: 32px;
  height: 40px;
}

body.home .ic_status .cls-1 {
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 1.5px;
}

body.home .ic_board svg {
  width: 40px;
  height: 40px;
}

body.home .ic_board .cls-1 {
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 1.5px;
}

header.main_header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

header.main_header .inner_container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 90px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

header.main_header .logo_svg {
  width: 181px;
  height: 40px;
}

header.main_header .logo_svg .logo-red {
  fill: #d4000f;
}

header.main_header .logo_svg .logo-white {
  fill: #fff;
}

header.main_header .main_nav li.item a {
  font-size: 20px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 20px;
}

header.main_header .main_nav li.item a:hover {
  color: #e6240f;
}

@media (max-width: 1280px) {
  header.main_header .main_nav li.item a {
    font-size: 17px;
    padding: 10px;
  }
}

header.main_header .side_menu_container li.item a {
  font-size: 14px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
}

footer.main_footer {
  background-color: #2f2f2f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer.main_footer .inner_container {
  padding: 30px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer.main_footer a {
  color: #ffffff;
}

footer.main_footer .foot_menu li.item {
  margin-right: 20px;
}

footer.main_footer .foot_menu a {
  font-size: 16px;
  font-weight: normal;
}

footer.main_footer .copyright {
  margin-top: 12px;
}

footer.main_footer .copyright span {
  font-size: 14px;
  font-weight: normal;
}

footer.main_footer .foot_side_menu ._text {
  display: none;
}

footer.main_footer .foot_side_menu .ic_sns .st0 {
  fill: #999;
}

footer.main_footer .foot_side_menu .item {
  margin-right: 10px;
}

footer.main_footer .foot_side_menu .item:last-child {
  margin-right: 0;
}

footer.main_footer .foot_side_menu .item a {
  border: solid 1px #555555;
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 41px;
  height: 41px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

footer.main_footer .foot_side_menu .item a:hover {
  border-color: #ffffff;
  background-color: #ffffff;
}

footer.main_footer .foot_side_menu .item a:hover .ic_sns .st0 {
  fill: #2f2f2f;
}

footer.main_footer .foot_side_menu #svg_fb {
  width: 9px;
  height: 18px;
}

footer.main_footer .foot_side_menu #svg_blog {
  width: 21px;
  height: 18px;
}

footer.main_footer .foot_side_menu #svg_insta {
  width: 18px;
  height: 18px;
}

footer.main_footer .shortcut {
  margin-left: 10px;
}

footer.main_footer .shortcut a {
  font-size: 14px;
  font-weight: 500;
  width: 180px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: solid 1px #555555;
  color: #999;
  border-radius: 100px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

footer.main_footer .shortcut a:hover {
  border-color: #ffffff;
  color: #ffffff;
}
