.view_count {
  justify-content: flex-end;
  @include respondTo("md") {
    display: none;
  }
}
// 게시판 필터 영역
.filter_grp {
  flex-wrap: wrap;
  > div {
    margin-right: 10px;
    @include respondTo("md") {
      &:not(:last-child) {
        width: calc(50% - 5px);
        margin-right: 0;
        > button {
          width: 100%;
          max-width: none;
        }
      }
      &:first-child {
        margin-right: 10px;
      }
    }
    &:last-child {
      margin-right: 0;
    }
  }
  .search_box {
    @include respondTo("md") {
      width: 100%;
      max-width: none;
    }
    .form-control {
      width: 276px;
      height: 46px;
      border-radius: 0;
      border-right: 0;
    }
    button.btn {
      border: none;
      padding: 0;
      height: 46px;
      border: 1px solid #ced4da;
      border-left: none;
      &:after {
        margin-left: 0;
      }
    }
  }
}
.filter_wrap {
  margin-bottom: calc(32px - 0.5rem);
  > div {
    margin: 0;
  }
}
.require {
  &:after {
    content: "";
    width: 7px;
    height: 7px;
    background-image: url("#{$urlImg}/ic_require.svg");
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    padding: 4px 9px;
    margin-bottom: 3px;
  }
}
.form_desc {
  &:before {
    content: "";
    width: 7px;
    height: 7px;
    background-image: url("#{$urlImg}/ic_require.svg");
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    padding: 4px 9px 4px 0;
  }
}
// 게시판 리스트
.borad_wrap {
  .table_list {
    width: 100%;
    thead {
      th,
      td {
        font-size: $size-p;
        line-height: 1.4em;
        padding: 20px 10px;
        text-align: center;
        @include respondTo("md") {
          font-size: 14px;
        }
      }
    }
    tbody {
      th,
      td {
        padding: 27px 10px;
        text-align: center;
        border-bottom: 1px solid $grey-e;
      }
    }
    .tr_notice {
      background-color: #f9f9f9;
    }

    @include respondTo("md") {
      thead,
      ._num {
        display: none;
      }
      tbody tr {
        display: flex;
        flex-direction: column;
      }
      tbody {
        td,
        th {
          display: block;
          padding: 0;
          border: none;
          text-align: left;
          word-break: keep-all;
        }
        td {
          padding-bottom: 7px;
        }
        tr {
          padding: 31px 28px;
        }
      }
      ._title {
        a {
          display: flex;
          flex-direction: column;
        }
      }
      ._classify {
        color: #999;
        margin-bottom: 17px;
        order: 1;
      }
      ._title {
        order: 0;
      }
      ._state {
        order: -1;
      }
      ._period {
        order: 10;
      }
    }

    &.theme_red {
      thead {
        background-color: $red;
        th,
        td {
          color: $white;
        }
      }
      tbody tr:hover {
        background-color: rgba(249, 245, 245, 0.5);
        @include respondTo("nmd") {
          ._title a {
            color: $red;
          }
        }
      }
      ._cat {
        color: #999999;
      }
      ._num {
        color: $grey-nine;
      }
      ._title {
        text-align: left;
        a:hover {
          color: $red;
        }
      }
      ._classify {
        > * {
          color: $grey-six;
        }
      }
      ._author {
        color: $grey-nine;
      }
      ._date {
        color: $grey-nine;
      }
    }

    ._attachment a {
      display: block;
      margin: 0 auto;
      width: 14px;
      height: 14px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16.323' height='14.833' viewBox='0 0 16.323 14.833'%3E%3Cpath fill='none' stroke='%23999' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2px' d='M578.708 785.19l-6.149 6.149c-1.125 1.125-2.192 1.194-2.956.431-.605-.6-1.071-1.728.219-3.017l7.836-7.837a3.317 3.317 0 0 1 4.691 0 3.317 3.317 0 0 1 0 4.691l-6.756 6.756' transform='translate(-568 -778.945)'/%3E%3C/svg%3E%0A");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }
    &.theme_layout {
      border-left: 1px solid #ddd;
      border-right: 1px solid #ddd;
      border-bottom: 1px solid #aaa;
      div,
      p,
      a,
      li,
      th,
      td {
        font-size: 14px;
      }
      thead {
        th {
          border-bottom: 1px solid #222;
          border-top: 1px solid #222;
        }
      }
      .professorItem {
        display: flex;
        align-items: center;
        justify-content: center;
        > span {
          margin-right: 10px;
        }
      }
      ._num {
        color: #999;
      }
      ._first_audit,
      ._second_audit {
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
        ul {
          display: flex;
          flex-direction: column;
          li:not(:last-child) {
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}
// 페이지네이션
.pagination {
  margin-top: 50px;
  justify-content: center;
  padding-right: calc(var(--bs-gutter-x) / 2);
  padding-left: calc(var(--bs-gutter-x) / 2);
  a.page_link {
    text-indent: -999px;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px $grey-c;
    border-radius: 100px;
    &.go_end {
      background-image: url("#{$urlImg}/ic_page_end.svg");
      margin-right: 5px;
    }
    &.go_next {
      background-image: url("#{$urlImg}/ic_page_next.svg");
    }
    &.go_prev {
      background-image: url("#{$urlImg}/ic_page_next.svg");
      transform: rotate(180deg);
    }
    &.go_first {
      background-image: url("#{$urlImg}/ic_page_end.svg");
      transform: rotate(180deg);
      margin-left: 5px;
    }
  }
  ul.numbers {
    margin: 0 30px;
    li.number {
      align-items: center;
      display: flex;
      > * {
        font-size: $size-s;
        padding: 5px 13px;
      }
      a {
        color: $grey-nine;
        &:hover {
          color: $black;
        }
      }
      span {
        color: $black;
      }
    }
  }
}

// 게시판 상세페이지
.article_wrap {
  .article_table {
    width: 100%;
    tr:first-child {
      th,
      td {
        border-top: 1px solid $grey-c;
      }
    }
    th,
    td {
      font-size: $size-p;
      border-bottom: 1px solid $grey-c;
      @include respondTo("md") {
        font-size: 14px;
      }
      &.align_center {
        text-align: center;
      }
      &.align_right {
        text-align: right;
      }
    }
    th {
      padding: 30px 10px;
      text-align: center;
      background-color: #f5f5f5;
      width: 120px;
    }
    td {
      padding: 30px;
      text-align: left;
    }
    @include respondTo("md") {
      tr {
        display: flex;
        flex-wrap: wrap;
      }
      th {
        font-weight: bold;
        width: 26%;
        min-width: 80px;
        text-align: left;
        word-break: keep-all;
      }
      td {
        width: calc(100% - 26%);
      }
      th,
      td {
        display: flex;
        align-items: center;
        padding: 0;
        border: none;
        margin: -0.5px 0;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        padding: 17px 19px;
      }
    }
  }
  .article_head {
    .article_table {
      @include respondTo("nmd") {
        td:last-child {
          width: 300px;
        }
      }
    }
    &.article_title {
      @include respondTo("md") {
        padding: 40px 28px;
        .row > div:first-child {
          flex-wrap: wrap;
        }
        .labelWrap {
          width: 100%;
        }
        ._title {
          margin-bottom: 12px;
        }
      }
    }
  }
  .article_body {
    &._content {
      padding: 70px 40px;
      @include respondTo("md") {
        padding: 40px 28px;
      }
    }
    .content_inner {
      text-align: center;
      h3 {
        margin-bottom: 30px;
        &:last-child {
          margin-bottom: 0;
        }
      }
      p {
        margin-bottom: 20px;
        line-height: 1.8em;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
.article_btn_wrap {
  margin-top: 40px;
  .col {
    display: flex;
    &:last-child {
      justify-content: flex-end;
    }
  }
  .btn {
    margin-right: 5px;
    &:last-child {
      margin-right: 0;
    }
  }
}
