// 버튼 종류
.btn {
  display: inline-flex;
  border-radius: 100px;
  text-align: center;
  justify-content: center;
  &:focus {
    box-shadow: none !important;
  }
  &.btn_box {
    padding: 12px 35px;
    font-size: $size-p;
    border-radius: 0;
    text-align: center;
  }
  &.btn_light {
    color: $white;
    background-color: #999;
    &:hover {
      color: $white;
    }
  }
  &.btn_dark {
    color: $white;
    background-color: #555;
  }
  &.btn_black {
    color: $white;
    background-color: $black;
  }
  &.btn_red {
    color: $white;
    background-color: $red;
  }
  &.btn_border_box {
    padding: 12px 32px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 0;
    color: $grey-six;
    border: solid 1px #999999;
    background-color: $white;
    text-align: center;
    &._complete {
      color: $red;
      background-color: #f0f0f0;
      border: none;
    }
    &:hover {
      background-color: $bg-light;
    }
  }
  &.btn_times {
    border: 1px solid #666;
    border-radius: 2px;
    width: 17px;
    height: 17px;
    position: relative;
    padding: 0;
    box-sizing: border-box;
    background-size: 7px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7.071' height='7.071' viewBox='0 0 7.071 7.071'%3E%3Cdefs%3E%3Cstyle%3E .cls-1%7Bfill:%23666%7D %3C/style%3E%3C/defs%3E%3Cg id='그룹_162' transform='translate(-911.964 -836.964)'%3E%3Cpath id='사각형_154' d='M0 0H1V9H0z' class='cls-1' transform='rotate(45 -551.14 1527.002)'/%3E%3Cpath id='사각형_155' d='M0 0H1V9H0z' class='cls-1' transform='rotate(-45 1467.14 -682.002)'/%3E%3C/g%3E%3C/svg%3E%0A");
  }
  &.btn_add {
    border-radius: 4px;
    border: 1px solid #999;
    padding: 6px 20px;
    font-size: 13px;
    font-weight: 500;
    color: #222;
  }
}
.btn_burger {
  display: flex;
  width: 16px;
  flex-direction: column;
  cursor: pointer;
  span {
    width: 100%;
    height: 2px;
    background-color: #222;
    margin: 0 0 4px 0;
    display: flex;
    transition: 0.3s;
    opacity: 1;
  }
  .bar3 {
    margin-bottom: 0;
  }
  &:hover {
    span {
      background-color: #efaaaa;
    }
  }
}
