// 콘텐트 영역
.content_container {
    display:flex;
    align-items:center;
    justify-content:center;
    padding-top:100px;
    padding-bottom:100px;
    background-color: #fff;
}
.container {
    display: flex;
    padding:0;
    &.site_width {
        width: 100%;
        max-width: $siteWidth;
    }
    &.main_width {
        width: 100%;
        max-width: $mainWidth;
    }
    &.con_width {
        width: 100%;
        max-width: $conWidth;
    }
    @include respond-to("xxl") {
        &.site_width {
            max-width: 95%;
        }
        &.main_width {
            max-width: 95%;
        }
    }
    @include respond-to("wide") {
        &.con_width {
            max-width: 95%;
        }
    }
}
.flex_row {
    display: flex;
    flex-direction: row;
}
.flex_col {
    display: flex;
    flex-direction: column;
}
// Width
.w220 {
    width:220px;
}