////////////// 반응형 변수
$breakpoints: (
  "sm": (
    max-width: 375px,
  ),
  "md": (
    max-width: 768px,
  ),
  "lg": (
    max-width: 992px,
  ),
  "wide": (
    max-width: 1280px,
  ),
  "xl": (
    max-width: 1760px,
  ),
  "xxl": (
    max-width: 1880px,
  ),
);
/// Responsive breakpoint manager
/// @access public
/// @param {String} $breakpoint - Breakpoint
/// @requires $breakpoints
@mixin respond-to($breakpoint) {
  $raw-query: map-get($breakpoints, $breakpoint);

  @if $raw-query {
    $query: if(
      type-of($raw-query) == "string",
      unquote($raw-query),
      inspect($raw-query)
    );

    @media #{$query} {
      @content;
    }
  } @else {
    @error 'No value found for `#{$breakpoint}`. '
			+ 'Please make sure it is defined in `$breakpoints` map.';
  }
}