body.subpage {
  .pagination.with_button {
    position: relative;
    .inner {
      width: 100%;
      justify-content: center;
    }
    .btn_wrap {
      position: absolute;
      top: -9px;
      right: 12px;
    }
  }
}
