// 사이트 기본 넓이 변수
$siteWidth: 1820px;
$mainWidth: 1680px;
$conWidth: 1160px;

// Color Variables
$white: #ffffff;
$grey-a: #aaa;
$grey-c: #ccc;
$grey-e: #eee;
$grey-six: #666;
$grey-eight: #888;
$grey-nine: #999;
$bg-light: #f5f5f5;
$black: #222222;

// Brand Color
$pink: #efaaa9;
$red: #d4000f;
$brand-grey1: #d2cfcd;
$brand-grey2: #999899;
$brand-grey3: #4b5055;

// Font Sizes
$size-s: 15px;
$size-p: 16px;
$size-m: 18px;
$size-title: 30px;

// font style
$NotoSansKR: "Noto Sans KR", sans-serif;

// 이미지 경로
$urlImg: "../img";
