// 사이트 기본 넓이 변수
$siteWidth: 1820px;
$conWidth: 1680px;

// Color Variables
$white: #ffffff;
$grey-six:#666;
$grey-eight:#888;
$grey-nine:#999;
$black: #222222;

// Brand Color
$pink:#efaaa9;
$red:#e6240f;
$brand-grey1:#d2cfcd;
$brand-grey2:#999899;
$brand-grey3:#4b5055;

// Font Sizes
$size-p:16px;
$size-title-small:18px;

// font style
$NotoSansKR: "Noto Sans KR", sans-serif;

$urlImg: "../img";
