body.application_list {
  .table_list {
    @include respondTo("nmd") {
      td {
        &:first-child {
          width: 8%;
        }
        &:nth-child(2) {
          width: 47%;
        }
        &:nth-child(3) {
          width: 25%;
        }
        &:nth-child(4) {
          width: 20%;
        }
      }
    }
  }
}
