footer.main_footer {
  background-color: #2f2f2f;
  display: flex;
  justify-content: center;
  align-items: center;
  .container {
    padding: 23px 0 10px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    > div {
      margin: 10px 0 23px;
    }
  }
  a {
    color: $white;
  }
  .foot_menu {
    flex-wrap: wrap;
    li.item {
      margin-right: 20px;
      margin-bottom: 10px;
    }
    a {
      font-size: 16px;
      font-weight: normal;
    }
  }
  .copyright {
    margin-top: 2px;
    span {
      font-size: 14px;
      font-weight: normal;
    }
  }
  .foot_side_menu {
    ._text {
      display: none;
    }
    .ic_sns .st0 {
      fill: $grey-nine;
    }
    .item {
      margin-right: 10px;
      &:last-child {
        margin-right: 0;
      }
      a {
        border: solid 1px #555555;
        border-radius: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 41px;
        height: 41px;
        transition: all 0.5s;
        &:hover {
          border-color: $white;
          background-color: $white;
          .ic_sns .st0 {
            fill: #2f2f2f;
          }
        }
      }
    }
    #svg_fb {
      width: 9px;
      height: 18px;
    }
    #svg_blog {
      width: 21px;
      height: 18px;
    }
    #svg_insta {
      width: 18px;
      height: 18px;
    }
  }
  .shortcut {
    margin-left: 10px;
    a {
      font-size: 14px;
      font-weight: 500;
      width: 180px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: solid 1px #555555;
      color: $grey-nine;
      border-radius: 100px;
      transition: all 0.5s;
      &:hover {
        border-color: $white;
        color: $white;
      }
    }
  }
}
