body.member.subpage {
  .page_header .parent_menu {
    display: none;
  }
  .pagination.with_button {
    position: relative;
    .inner {
      width: 100%;
      justify-content: center;
    }
    .btn_wrap {
      position: absolute;
      top: -9px;
      right: 12px;
    }
  }
  .col50 {
    @media screen and (min-width: 1200px) {
      width: 50%;
    }
  }
}
