body.register_list,
body.register_single {
  .article_title {
    padding: 45px 40px;
    border: solid 1px #222;
    background-color: #ffffff;
    margin-bottom: 50px;
    ._classify {
      font-size: $size-p;
      margin-bottom: 5px;
    }
    h2._title {
      font-size: 24px;
      font-weight: 400;
    }
    ._period {
      color: $grey-six;
    }
    .col:last-child {
      font-size: $size-p;
      align-items: center;
      justify-content: flex-end;
      display: flex;
    }
  }
  .excel {
    padding-left: 28px;
    padding-right: 28px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    background-color: #999;
    border-radius: 0;
    display: flex;
    align-items: center;
    margin-right: 10px;
  }
  ._attachment a {
    display: block;
    margin: 0 auto;
    width: 14px;
    height: 14px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16.323' height='14.833' viewBox='0 0 16.323 14.833'%3E%3Cpath fill='none' stroke='%23999' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2px' d='M578.708 785.19l-6.149 6.149c-1.125 1.125-2.192 1.194-2.956.431-.605-.6-1.071-1.728.219-3.017l7.836-7.837a3.317 3.317 0 0 1 4.691 0 3.317 3.317 0 0 1 0 4.691l-6.756 6.756' transform='translate(-568 -778.945)'/%3E%3C/svg%3E%0A");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .article_tableWrap {
    margin-top: 20px;
    margin-bottom: 40px;
    ._option + .article_table {
      margin-top: 20px;
    }
  }
}
