body.register_list,
body.register_single {
  .article_title {
    padding: 45px 40px;
    border: solid 1px #222;
    background-color: #ffffff;
    margin-bottom: 50px;
    ._classify {
      font-size: $size-p;
      margin-bottom: 5px;
    }
    h2._title {
      font-size: 24px;
      font-weight: 400;
    }
    ._period {
      color: $grey-six;
    }
    .col:last-child {
      font-size: $size-p;
      align-items: center;
      justify-content: flex-end;
      display: flex;
    }
  }

  .article_tableWrap {
    margin-top: 20px;
    margin-bottom: 40px;
    ._option + .article_table {
      margin-top: 20px;
    }
  }
}
